* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('images/coffee5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #4b2e1a;
    font-family: "Fira Sans", sans-serif;
    animation: backgroundAnimation 10s ease-in-out infinite;
}

/* Animation for the background image */
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Navbar */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #6f4e37;
    animation: fadeIn 1s ease-out;
}

nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: #f5deb3;
}

nav ul li a {
    color: #f5deb3;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #4b2e1a;
}

/* Buttons */
.side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: #f5deb3;
    font-size: 17px;
    font-weight: 600;
    background-color: #8b5a2b;
    cursor: pointer;
    transition: background-color 0.3s;
}

.side1 button:hover {
    background-color: #4b2e1a;
}

/* Sections */
section .topic a {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #8b5a2b;
}

section .topic a:hover {
    color: #6f4e37;
}

/* Footer */
footer {
    background: #6f4e37;
    padding: 15px 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #6f4e37;
}

footer .footer span a {
    font-weight: 500;
    color: #6f4e37;
}

footer .footer span a:hover {
    text-decoration: underline;
}



        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            padding: 8px 15px;
            border-radius: 10px;
            transition: 0.2s ease-in;
        }

        nav ul li a:hover {
            color: #ac510f;
        }

        nav .sideMenuButton {
            font-size: 30px;
            font-weight: bolder;
            cursor: pointer;
            display: none;
        }

        /* responsive navbar css */
        @media screen and (max-width: 600px) {
            nav .sideMenuButton {
                display: flex;
            }

            nav .navbar {
                display: none;
            }

            .sideNavigationBar {
                display: block !important;
            }
        }

        .sideNavigationBar {
            height: 100%;
            position: fixed;
            top: 0;
            right: 0%;
            background-color: #6f4e37;
            overflow-x: hidden;
            transition: 0.3s ease-in;
            padding-top: 60px;
            display: none;
        }

        .sideNavigationBar a {
            padding: 8px 8px 8px 40px;
            display: block;
            font-size: 25px;
            font-weight: 500;
            color: #f5deb3;
            transition: 0.3s;
            text-decoration: none;
        }

        .sideNavigationBar a button {
            padding: 10px 20px;
            border-radius: 10px;
            color: #f5deb3;
            font-size: 16px;
            border-style: none;
            font-weight: 700;
        }

        .sideNavigationBar a:hover {
            color: #f5deb3;
        }

        .sideNavigationBar .closeButton {
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 20px;
            margin-left: 50px;
        }

        .line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2% 5%;
            animation: slideIn 1s ease-out;
        }

        .line .side1 {
            padding-right: 50px;
        }

        .side1 h1 {
            font-size: 60px;
            margin-bottom: 10px;
            color: #f5deb3;
            animation: fadeIn 2s ease-out;
        }

        .side1 button {
            width: 200px;
            padding: 12px 20px;
            border-radius: 20px;
            border-style: none;
            color: black;
            font-size: 17px;
            font-weight: 600;
            background-color: #6f4e37;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .side1 button:hover {
            background-color: #6f4e37;
            color: #f5deb3;
        }

        a {
            text-decoration: none;
            color: #f5deb3;
        }

        /* Header content responsive */
        @media screen and (max-width: 980px) {
            .side2 img {
                width: 350px;
            }

            .side1 h1 {
                font-size: 40px;
            }

            .side1 p {
                font-size: 17px;
            }

            .line {
                margin-top: 80px;
            }
        }

        @media screen and (max-width: 600px) {
            .side1 h1 {
                font-size: 35px;
            }

            .line {
                flex-direction: column;
            }

            .line .side1 {
                padding: 30px;
            }
        }

        /* section */
        section .topic a {
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 10px;
            color: #f5deb3; /* Lighter shade of brown */
            transition: color 0.3s ease-in;
        }
        
        section .topic a:hover {
            color: #f5deb3; /* Even lighter shade on hover */
        }
        
        .about .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .about .boxes .box {
            margin: 10px 20px;
            max-width: calc(100% / 3 - 50px);
            text-align: center;
            border-radius: 12px;
            padding: 30px 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
            cursor: default;
            background-color: #f5deb3;
            animation: fadeInUp 1s ease-in-out;
        }

        .about .boxes .box img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
            transition: transform 0.3s ease-in-out;
        }

        .about .boxes .box:hover img {
            transform: scale(1.1);
        }

        /* Contact Page */
        .contact {
            padding: 20px;
            background-color: #f5deb3;
        }

        .contact .content {
            margin: 0 auto;
            padding: 30px 0;
        }

        .content .title {
            width: 80%;
            text-align: center;
            font-weight: bolder;
            font-size: 40px;
            color: #6f4e37;
        }

        .contactMenu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .input2 {
            margin-top: 10;
        }

        .label1 {
            font-size: 18px;
            margin-top: 8px;
            margin-bottom: 8px;
            font-weight: bolder;
        }

        .contactMenu .input1 input {
            border-radius: 13px;
            padding: 6px;
            width: 300px;
        }

        .input2 input {
            border-color: rgb(252, 244, 244);
            width: 400px;
        }

        .button {
            margin-top: 12px;
            margin-left: 5px;
            width: 200px;
            padding: 12px 20px;
            border-radius: 20px;
            border-style: none;
            color: #f5deb3;
            font-size: 17px;
            font-weight: 600;
            background-color: #8b5a2b;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;

        }

        .button button {
            width: 162px;
            height: 35px;
            border-radius: 12px;
            border-color: transparent;
            background-color: #6f4e37;
            cursor: pointer;
        }

        .button button:hover {
        background-color: #4b2e1a; /* Darker shade on hover */
        color: #fff; /* Change text color */
        transform: scale(1.05); /* Slight increase in size */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
        }

        /* Footer */
        footer {
            background: #6f4e37;
            padding: 15px 0;
            text-align: center;
            font-family: "Poppins", sans-serif;
            color: #f5deb3;
        }

        footer .footer span {
            font-size: 17px;
            font-weight: 400;
            color: #f5deb3;
        }

        footer .footer span a {
            font-weight: 500;
            color: white;
        }

        footer .footer span a:hover {
            text-decoration: underline;
        }

        /* Animation Keyframes */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes slideIn {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0);
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
